
<div class="clear"></div>
<div class="bottom_block">
    <div class="container_12">
        <div class="grid_2">
            <h4>Contact Us:</h4>
            Mob: 92-03424347589<br>
            Email: zamm911@gmail.com<br>
        </div>
        <div class="clear"></div>
    </div>
</div>

<footer>
    
    <div class="container_12">
        <div class="grid_12">
            <div class="socials"><a href="#"></a><a href="#"></a> </div>
            
        </div>
        <div class="clear"></div>
    </div>
</footer>