    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><a href="/Home/index"><img src="~/images/logo.png" alt=""></a></h1>
                <div class="clear"></div>
            </div>
            <div class="menu_block">
                <nav>
                    <ul class="sf-menu">
                        <li class="current"><a href="/Home/index">Home</a></li>
                        <li class="with_ul">
                            
                            @Html.ActionLink("About","about")
                            
                        </li>
                        <li>@Html.ActionLink("Gallery", "gallery")</li>
                        <li>@Html.ActionLink("Tours", "tours")</li>   
                        <li>@Html.ActionLink("Contact", "contacts")</li>
                        <li><a href="/Admin/signin1">Admin</a></li>
                       
                       
                    </ul>
                </nav>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </header>






