@{

    Layout = "~/Views/Shared/_mainLayout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <script>
        $(window).load(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>



    <div class="main">
        <div class="content">
            <div class="container_12">
                <div class="grid_9">
                    <div class="">
                        <h3>Fairy Meadows</h3>
                        <img src="~/images/fai.jpg" width="300" height="250" class="img_inner fleft">
                        <p class="text1"> </p>
                        <p>Fairy Meadows, named by German climbers (German Märchenwiese, ″fairy tale meadows″)and locally known as Joot,is a grassland near one of the base camp sites of the Nanga Parbat, located in Diamer District, Gilgit-Baltistan.At an altitude of about 3,300 meters above the sea level, it serves as the launching point for trekkers summiting on the Rakhiot face of the Nanga Parbat.In 1995, the Government of Pakistan declared Fairy Meadows a National Park</p>
                        <p>
                            Fairy Meadows is approachable by a twelve kilometer-long jeepable trek starting from Raikhot bridge on Karakoram Highway to the village Tato.Further from Tato, it takes about three to four hours hiking by a five kilometer trek to Fairy Meadows.The grassland is located in the Raikhot valley, at one end of the Raikhot glacier which originates from the Nanga Parbat and feeds a stream that finally falls in the River Indus.
                        </p>
                       
                        <div class="clear"></div>

                        <p>
                            <div class="clear"></div>
                            
                        </p>
                        <p>
                            The six-month tourist season at Fairy Meadows starts in April and continues until the end of September. Tourists lodge at the camping site spread over two acres, known as "Raikot Serai". The site of Fairy Meadows, though partially developed, generates about PKR 17 million revenue from tourism, mainly by providing food, transportation and accommodation services.
                        </p>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>

    </div>
</body>
</html>