@{

    Layout = "~/Views/Shared/_mainLayout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <script>
        $(window).load(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>



    <div class="main">
        <div class="content">
            <div class="container_12">
                <div class="grid_9">
                    <div class="">
                        <h3>Village Kel</h3>
                        <img src="~/images/kel1.jpg" width="300" height="250" class="img_inner fleft">
                        <p class="text1"> </p>
                        <p>Kel (Urdu: کیل ‎) is a village in Neelam Valley, Azad Kashmir, Pakistan. It is located 155 kilometers (96 mi) from Muzaffarabad at the altitude of 6,879 feet (2,097 m) feet.</p>
                        <p>
                            Buses run daily between Muzaffarabad and Kel in good weather. Few private hotels and a rest house of AJK Tourism and Archeology Department located there for tourists stay. It also has bank, college, hospital and bazaar.
                            The Kel is located near Line of Control and the road which leads there is non metallic. There are frequent landslides during Summers, and Snow slides on this road during winters. In winters all the routes are blocked and it is very difficult to reach there. All these factors combined made it one of the most difficult places to reach.Wild life includes Brown Bear. A Leopard was also found here few years ago which was sighted by Army personnel.
                        </p>
                       
                        <div class="clear"></div>
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>

    </div>
</body>
</html>