@{

    Layout = "~/Views/Shared/_mainLayout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <script>
        $(window).load(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>



    <div class="main">
        <div class="content">
            <div class="container_12">
                <div class="grid_9">
                    <div class="">
                        <h3>Neelam Valley</h3>
                        <img src="~/images/neelam.jpg" width="300" height="250" class="img_inner fleft">
                        <p class="text1"> </p>
                        <p>Neelum Valley (also spelled Neelam Valley) (Urdu: وادیِ نیلم ‎) is a 144 km long bow-shaped thick forested region in Azad Kashmir, Pakistan.It is named after the Neelam river, which flows through the length of the valley..</p>
                        <p>
                            The valley is situated in the north-east of Muzaffarabad, running parallel to Kaghan Valley. The two valleys are only separated by snow-covered peaks, some over 4,000 meters (13,000 ft) above sea level.
                        </p>
                        <p>
                            In Neelam valley there are dozens of beautiful and historical places, Sharada Peeth in Sharda town is one of the most beautiful and historical place in Neelam valley.
                        </p>
                        <div class="clear"></div>

                        <p>
                            <div class="clear"></div>
                            The valley is connected from Muzaffarabad by Neelam road, which leads up to Kel. The road condition from Muzaffarabad to Athmuqam is very good and suitable for any kind of transport. From Keran to Kel road condition is not well and not suitable for low floor vehicles. In winters road onward Keran block due to heavy snowfall and it is very difficult to reach upper parts of the valley.
                        </p>
                        <p>
                            Vans serve is only Muzaffarabad to Athmuqam after every 30 minutes. Buses run daily between Muzaffarabad and Kel in good weather. Jeeps and horses are available to reach remote areas of the valley.
                        </p>
                    </div>
                </div>
                
        </div>
            <div class="clear"></div>
    </div>

        </div>
</body>
</html>