@{

    Layout = "~/Views/Shared/_mainLayout.cshtml";

}
<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>

    <script>
        $(window).load(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">
    <![endif]-->
</head>
<body>



    <div class="main">
        <div class="content">
            <div class="container_12">
                <div class="grid_9">
                    <div class="">
                        <h3>Saiful Muluk </h3>
                        <img src="~/images/saif.jpg" width="300" height="250" class="img_inner fleft">
                        <p class="text1"> </p>
                        <p>Saiful Muluk (Urdu: جھیل سیف الملوک‎) is a mountainous lake located at the northern end of the Kaghan Valley, near the town of Naran.It is in the north east of Mansehra District in the Khyber-Pakhtunkhwa province, Pakistan. At an elevation of 3,224 m (10,578 feet) above sea level, it is well above the tree line, and is one of the highest lakes in Pakistan.</p>
                        <p>
                            Saiful Muluk is located in the Mansehra district of Khyber Pakhtunkhwa, about eight kilometers north of Naran,in the northern part of Kaghan valley. Malika Parbat, the highest peak in the valley is near the lake.
                            The lake is accessible from the nearby town of Naran throughout the summer season.The Kaghan Valley was formed in the greater Pleistocene Period dating back almost 300,000 years when the area was covered with ice.
                        </p>
                        
                        <div class="clear"></div>
                       
                        
                        <p>
                            <div class="clear"></div>
                            Rising temperatures and receding glaciers left a large depression where glaciers once stood. Melting water collected into the lake.Saiful Muluk was formed by glacial moraines that blocked the water of the stream passing through the valley.
                            <div class="clear"></div>
                            The lake has rich eco-diversity and holds many species of blue-green algae. Large brown trout are found in the lake, up to about seven kilograms.About 26 species of vascular plant exist in the area, with Asteraceae the most commonly found specie. Other species commonly found in the region are: Ranunculaceae, Compositae, Cruciferae, Gramineae, Apiaceae, Leguminosae, Scrophulariaceae and Polygonaceae.
                        </p>
                        
                    </div>
                </div>

            </div>
            <div class="clear"></div>
        </div>

    </div>
</body>
</html>